/* Dashboard Container */
.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 24px;
  padding: 20px;
}
.revenue-amount {
  font-size: 2.5rem;       /* Large font size */
  font-weight: bold;       /* Bold text */
  font-family: Arial, sans-serif; /* Different font */
  color: #4CAF50;          /* Optional: green color for revenue */
  margin-top: 10px;
}
/* Dashboard Item */
.dashboard-item {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent; /* No background */
  transition: background-color 0.3s ease;
}

.dashboard-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}
  
.dashboard-item:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Background appears on hover */
}

/* Weather Section Fixed Size with Scrolling */
.weather-section {
  height: 300px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Weather Grid */
.forecast-grid {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

/* Forecast Box */
.forecast-box {
  background-color: #e0f7fa;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.forecast-day {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.forecast-condition {
  font-size: 1em;
  margin: 5px 0;
}

.forecast-temp {
  font-size: 0.9em;
  margin: 5px 0;
}

/* Farm Photos */
.farm-photos .photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.farm-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .dashboard-container {
      grid-template-columns: 1fr; /* Full width for smaller screens */
  }
}

.discountShowTableData {
  border: none;
  padding: 0;
  margin: 0;
  white-space: nowrap
}

#discountShowTable {
  border-collapse: collapse;
}

.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification p {
  margin: 0;
}